/node_modules
node_modules/
/frontend/node_modules/
.env

# echo "# chat-app-real-time" >> README.md
# git init
# git add README.md
# git commit -m "first commit"
# git branch -M main
# git remote add origin https://github.com/ThuNguyen308/chat-app-real-time.git
# git push -u origin main