<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      console.log("status", "<%= status %>");
      var status = "<%= status %>";
      if (status == "verified") {
        if (confirm("Do you want to login?")) {
          window.location.href = "http://localhost:3000/";
        }
      }
    </script>
  </head>
  <body>
    <h1><%= email%></h1>
    <form method="post" action="">
      <input type="password" name="password" placeholder="Password" />
      <input
        type="password"
        name="confirm-password"
        placeholder="Confirm password"
      />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
