<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script>
      console.log("status", "<%= status %>");
      var status = "<%= status %>";
      if (status == "verified") {
        if (confirm("Do you want to login?")) {
          window.location.href = "http://localhost:3000/";
        }
      }
    </script>
  </head>
  <body>
    <form method="post" action="" class="container-form">
      <div class="form-wrapper">
        <div class="form-inner">
          <div class="form-group">
            <h1
              style="font-size: 2rem; text-align: center; margin-bottom: 20px"
            >
              Reset Password
              <!-- <%= email%> -->
            </h1>
            <label html="password">New Password</label>
            <div class="input-group">
              <input type="password" id="password" name="password" />
              <button class="btn input-group-btn">Hide</button>
            </div>
          </div>

          <div class="form-group">
            <label html="password-confirm">Confirm Password</label>
            <div class="input-group">
              <input
                type="password"
                id="password-confirm"
                name="confirm-password"
              />
              <button class="btn input-group-btn">Hide</button>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </body>
</html>
