input {
    width: 100%;
    border: 0.1rem solid ss-var($colors, "neutral", "gray");
    border-radius: 0.5rem;
    padding: 0 1.2rem;
    line-height: $input-height;

    &:focus {
        border-color: ss-var($colors, "secondary", "lightgreen");
        background-color: ss-var($colors, "secondary", "lightergreen");
    }

    &[type=file] {
    padding: 0.4rem;
    line-height: calc($input-height - 0.8rem);
}
}